In [1]:
from jupyter_dash import JupyterDash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.express as px
import plotly.graph_objects as go
import pandas as pd
from datetime import date, timedelta

In [2]:
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

In [3]:
super_dataset = pd.read_csv("../../../data/stage_I/superDataset.csv")
state_names = pd.read_csv("../../../data/stage_I/name-abbr.csv", header=None, names=['label', 'value'])

In [4]:
cases_data = super_dataset[[i for i in super_dataset.columns if "_deaths" not in i]]
cases_data.columns = [i.replace("_cases", "") for i in cases_data.columns]

In [5]:
cases_data.columns[(cases_data != 0).any()]

Index(['countyFIPS', 'County Name', 'State', 'StateFIPS', 'population',
       '2020-01-22', '2020-01-23', '2020-01-24', '2020-01-25', '2020-01-26',
       ...
       '2021-03-08', '2021-03-09', '2021-03-10', '2021-03-11', '2021-03-12',
       '2021-03-13', '2021-03-14', '2021-03-15', '2021-03-16', '2021-03-17'],
      dtype='object', length=426)

In [6]:
cases_data.loc[:, cases_data.columns[(cases_data != 0).any()][0]:]

,countyFIPS,County Name,State,StateFIPS,population,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,...,2021-03-08,2021-03-09,2021-03-10,2021-03-11,2021-03-12,2021-03-13,2021-03-14,2021-03-15,2021-03-16,2021-03-17
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,55869,0,0,0,0,0,...,6364,6371,6400,6409,6409,6416,6426,6471,6474,6483
2,1003,Baldwin County,AL,1,223234,0,0,0,0,0,...,19942,19962,20012,20044,20072,20091,20103,20210,20227,20263
3,1005,Barbour County,AL,1,24686,0,0,0,0,0,...,2143,2147,2161,2171,2175,2181,2184,2195,2198,2199
4,1007,Bibb County,AL,1,22394,0,0,0,0,0,...,2465,2466,2469,2474,2475,2479,2481,2499,2508,2512
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,42343,0,0,0,0,0,...,3853,3859,3861,3870,3871,3871,3871,3889,3893,3909
3189,56039,Teton County,WY,56,23464,0,0,0,0,0,...,3397,3397,3404,3418,3427,3427,3427,3467,3470,3484
3190,56041,Uinta County,WY,56,20226,0,0,0,0,0,...,2076,2083,2084,2087,2088,2088,2088,2091,2094,2101
3191,56043,Washakie County,WY,56,7805,0,0,0,0,0,...,888,888,888,888,889,889,889,889,889,889
3192,56045,Weston County,WY,56,6927,0,0,0,0,0,...,623,623,623,631,631,631,631,631,631,631

In [7]:
deaths_data = super_dataset[[i for i in super_dataset.columns if "_cases" not in i]]
deaths_data.columns = [i.replace("_deaths", "") for i in deaths_data.columns]

In [8]:
super_dataset

,countyFIPS,County Name,State,StateFIPS,population,2020-01-22_cases,2020-01-22_deaths,2020-01-23_cases,2020-01-23_deaths,2020-01-24_cases,...,2021-03-13_cases,2021-03-13_deaths,2021-03-14_cases,2021-03-14_deaths,2021-03-15_cases,2021-03-15_deaths,2021-03-16_cases,2021-03-16_deaths,2021-03-17_cases,2021-03-17_deaths
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,55869,0,0,0,0,0,...,6416,95,6426,95,6471,95,6474,95,6483,96
2,1003,Baldwin County,AL,1,223234,0,0,0,0,0,...,20091,294,20103,294,20210,294,20227,294,20263,295
3,1005,Barbour County,AL,1,24686,0,0,0,0,0,...,2181,53,2184,53,2195,53,2198,53,2199,54
4,1007,Bibb County,AL,1,22394,0,0,0,0,0,...,2479,60,2481,60,2499,60,2508,60,2512,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,42343,0,0,0,0,0,...,3871,36,3871,36,3889,36,3893,36,3909,36
3189,56039,Teton County,WY,56,23464,0,0,0,0,0,...,3427,9,3427,9,3467,9,3470,9,3484,9
3190,56041,Uinta County,WY,56,20226,0,0,0,0,0,...,2088,12,2088,12,2091,12,2094,12,2101,12
3191,56043,Washakie County,WY,56,7805,0,0,0,0,0,...,889,26,889,26,889,26,889,26,889,26
3192,56045,Weston County,WY,56,6927,0,0,0,0,0,...,631,5,631,5,631,5,631,5,631,5

In [9]:
app = JupyterDash(__name__, external_stylesheets=external_stylesheets)

In [23]:
app.layout = html.Div([
    html.H1("COVID - 19 Data Visualization", style={'text-align': 'center'}),
    dcc.Dropdown(
        id='state-dropdown',
        options=state_names.to_dict('records'),
        placeholder='Select a state',
    ),
    dcc.Dropdown(
        id='county-dropdown',
        placeholder='Select a county',
        disabled=False,
    ),
    dcc.DatePickerSingle(
        id='pre-date-picker',
        min_date_allowed=[i for i in super_dataset.columns if "_cases" in i][0].replace("_cases", ""),
        max_date_allowed=date.today(),
        date=date.today() - timedelta(days=7)
    ),
    dcc.DatePickerSingle(
        id='post-date-picker',
        min_date_allowed=[i for i in super_dataset.columns if "_cases" in i][0].replace("_cases", ""),
        max_date_allowed=date.today(),
        date=date.today()
    ),
    dcc.RadioItems(
        id='graph-type-picker',
        options=[
                {'label' : 'Plot', 'value' : 'Plot'},
                {'label' : 'Map', 'value': 'Map'}
            ],
        value='Plot'
    ),
    dcc.Dropdown(
        id='data-normalization',
        placeholder = 'Select the normalization',
        options=[
            {'label' : 'Linear', 'value' : 'Linear'},
            {'label' : 'Log', 'value' : 'Log'}
        ],   
    ),
    dcc.RadioItems(
        id='data-type-picker',
        options=[
                {'label' : 'Cases', 'value' : 'Cases'},
                {'label' : 'Deaths', 'value' : 'Deaths'}
        ],
        value='Cases'
    ),
    dcc.Dropdown(
        id='prediction',
        placeholder = 'Select the Prediction Model',
        options=[
            {'label' : 'Linear Model', 'value' : 'Linear'},
            {'label' : 'Non-Linear Model', 'value' : 'Non-Linear Model'}
        ],
    ),
    dcc.DatePickerSingle(
        id='prediction-date-picker',
        date=date(2021,4,26)
    ),
    dcc.Checklist(
        id = 'prediction-checklist',
        options = [
            {'label' : ' 7-day moving average', 'value' : 'prediction_average'}
        ],
    ),
    
])

@app.callback(
    [Output(component_id='county-dropdown', component_property='options'),
     Output(component_id = 'graph-type-picker', component_property = 'options')],
    [Input(component_id='state-dropdown', component_property='value')]
)
def update_label(value):
    temp = [{'label': i, 'value': i} for i in super_dataset[(super_dataset.State == value)&(super_dataset.countyFIPS != 0)]['County Name']]
    return temp

app.run_server(mode="inline", debug=True, port=8085)