## Part I:

**Create a team notebook to read in the COVID-19 data (cases, deaths, and population) using pandas and display the dataframe in a notebook. Merge all the three variables (cases, deaths, and population) to create a super COVID-19 datafame. Export it to a csv format.**

Import pandas and use it to read in the three csv files.

In [1]:
import pandas as pd

In [2]:
cases = pd.read_csv("../../../data/stage_I/covid_confirmed_usafacts.csv", delimiter=",")
population = pd.read_csv("../../../data/stage_I/covid_county_population_usafacts.csv", delimiter=",")
deaths = pd.read_csv("../../../data/stage_I/covid_deaths_usafacts.csv", delimiter=",")

Display all three dataframes.

In [3]:
cases

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2021-02-23,2021-02-24,2021-02-25,2021-02-26,2021-02-27,2021-02-28,2021-03-01,2021-03-02,2021-03-03,2021-03-04
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,6143,6172,6203,6228,6248,6264,6270,6303,6313,6324
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,19554,19635,19670,19698,19714,19732,19758,19790,19856,19873
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,2084,2095,2099,2106,2113,2115,2116,2124,2129,2136
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,2432,2437,2442,2445,2449,2450,2450,2454,2459,2461
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,3699,3702,3731,3747,3747,3759,3772,3774,3800,3811
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,3333,3336,3342,3348,3348,3351,3357,3359,3364,3368
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,2036,2037,2048,2054,2054,2054,2055,2062,2066,2070
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,880,880,880,881,881,881,883,885,886,887
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,621,622,622,622,622,622,622,623,623,623

In [4]:
deaths

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2021-02-23,2021-02-24,2021-02-25,2021-02-26,2021-02-27,2021-02-28,2021-03-01,2021-03-02,2021-03-03,2021-03-04
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,85,85,89,90,91,91,91,91,91,92
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,263,272,274,277,283,283,283,284,285,289
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,50,50,51,51,51,51,51,51,51,51
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,59,59,60,60,60,60,60,60,60,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,34,34,34,34,34,34,34,35,36,36
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,12,12,12,12,12,12,12,12,12,12
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,26,26,26,26,26,26,26,26,26,26
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,5,5

In [5]:
population

      countyFIPS            County Name State  population
0              0  Statewide Unallocated    AL           0
1           1001         Autauga County    AL       55869
2           1003         Baldwin County    AL      223234
3           1005         Barbour County    AL       24686
4           1007            Bibb County    AL       22394
...          ...                    ...   ...         ...
3190       56037      Sweetwater County    WY       42343
3191       56039           Teton County    WY       23464
3192       56041           Uinta County    WY       20226
3193       56043        Washakie County    WY        7805
3194       56045          Weston County    WY        6927

[3195 rows x 4 columns]

Merge the three datasets using countyFIPS and State as the common variables to join.

In [6]:
casesDeaths = cases.merge(deaths, left_on = ['countyFIPS', 'State'], right_on = ['countyFIPS', 'State'], suffixes=('_cases', '_deaths'))
finalDataset = casesDeaths.merge(population, left_on = ['countyFIPS', 'State'], right_on = ['countyFIPS', 'State'])

Reorder the dataset to make it more readable.

In [7]:
finalDataset = finalDataset[['countyFIPS', 'County Name', 'State', 'StateFIPS_cases', 'population'] + sorted(list(finalDataset.columns))[:-8]]

In [8]:
finalDataset = finalDataset.rename(columns={'StateFIPS_cases': 'StateFIPS'})

Display the merged dataset.

In [9]:
finalDataset

,countyFIPS,County Name,State,StateFIPS,population,2020-01-22_cases,2020-01-22_deaths,2020-01-23_cases,2020-01-23_deaths,2020-01-24_cases,...,2021-02-28_cases,2021-02-28_deaths,2021-03-01_cases,2021-03-01_deaths,2021-03-02_cases,2021-03-02_deaths,2021-03-03_cases,2021-03-03_deaths,2021-03-04_cases,2021-03-04_deaths
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,55869,0,0,0,0,0,...,6264,91,6270,91,6303,91,6313,91,6324,92
2,1003,Baldwin County,AL,1,223234,0,0,0,0,0,...,19732,283,19758,283,19790,284,19856,285,19873,289
3,1005,Barbour County,AL,1,24686,0,0,0,0,0,...,2115,51,2116,51,2124,51,2129,51,2136,51
4,1007,Bibb County,AL,1,22394,0,0,0,0,0,...,2450,60,2450,60,2454,60,2459,60,2461,60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,42343,0,0,0,0,0,...,3759,34,3772,34,3774,35,3800,36,3811,36
3189,56039,Teton County,WY,56,23464,0,0,0,0,0,...,3351,9,3357,9,3359,9,3364,9,3368,9
3190,56041,Uinta County,WY,56,20226,0,0,0,0,0,...,2054,12,2055,12,2062,12,2066,12,2070,12
3191,56043,Washakie County,WY,56,7805,0,0,0,0,0,...,881,26,883,26,885,26,886,26,887,26
3192,56045,Weston County,WY,56,6927,0,0,0,0,0,...,622,5,622,5,623,5,623,5,623,5

Save the final dataset to a csv file.

In [10]:
finalDataset.to_csv("../../../data/stage_I/superDataset.csv",index=False)